@use '../custom' as *;
@use '../components/mixing' as *;
@use '../components/button';
.menu{
    @include gradient;

    li{
        padding: 0 0.7rem;
    }   

    a{
        color: $white !important;
        text-transform: capitalize;
        font-weight: 400;
    }
}